.message {
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    font-size: 14px;
    font-weight: 500;
}

.snackbar-container {
    z-index: 126;
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
}

.content {
    background-color: #9a4292e6;
    border: 1px solid #00000030;
    border-radius: 24px;
    width: 90%;
    max-width: 550px;
    min-height: 48px;
    margin: 0 auto;
    box-shadow: 0 2px 4px #0003;
}
