<footer
    class="footer relative py-4 px-8 flex items-center w-full text-ds-dark-200 text-xs border-t border-ds-light-500-20 flex-col md:flex-row"
>
    <div class="left-section flex items-center text-ds-dark-100 h-full"></div>
    <div class="right-section flex items-center flex-wrap ml-auto">
        <div class="flex items-center">
            <div class="copyright mr-4 text-sm">
                © 2024 <span>Quizizz Inc.</span>
            </div>
            <div class="social-links flex justify-center items-center">
                <a
                    href="#"
                    class="text-xl mr-3 hover:text-ds-dark-100 transition-all"
                    rel="noopener noreferrer"
                    target="_blank"
                    aria-label="Twitter"
                    ><i class="icon-fab-twitter"></i></a
                ><a
                    href="#"
                    class="text-xl mr-3 hover:text-ds-dark-100 transition-all"
                    rel="noopener noreferrer"
                    target="_blank"
                    aria-label="Facebook"
                    ><i class="icon-fas-facebook"></i></a
                ><a
                    href="#"
                    class="text-xl hover:text-ds-dark-100 transition-all mr-5"
                    rel="noopener noreferrer"
                    target="_blank"
                    aria-label="Instagram"
                    ><i class="icon-fas-square-instagram"></i
                ></a>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <a
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="App Store"
                class="h-8 border-ds-light-500-20 hover:border-light-33% border rounded mr-2 transition-all"
                ><img
                    ngSrc="https://cf.quizizz.com/img/landing/apple%20app%20store.png"
                    aria-hidden="true"
                    alt="apple store"
                    class="h-full"
                    height="30"
                    width="100"
                /> </a
            ><a
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Google Store"
                class="h-8 border-ds-light-500-20 border rounded hover:border-light-33% transition-all"
                ><img
                    ngSrc="https://cf.quizizz.com/img/landing/google%20play.png"
                    aria-hidden="true"
                    alt="google store"
                    class="h-full"
                    height="30"
                    width="100"
            /></a>
        </div>
    </div>
</footer>
