<div class="recent-activities-wrapper mb-10">
    <div>
        <div
            class="relative select-none flex items-center justify-between font-medium text-ds-light-500 text-base sm:text-xl h-8 mb-3 sm:mb-4 sm:h-14 border-b border-ds-light-500-20"
        >
            <p
                class="select-none whitespace-nowrap font-semibold w-full text-center"
            >
                Assigned activities
            </p>
        </div>
        <div class="carousel-wrapper">
            <div class="navigation">
                <div class="move-right">
                    <i class="icon-far-chevron-right move-right-icon"></i>
                </div>
            </div>
            <div class="carousel-container">
                <div class="carousel">
                    <div class="carousel-inner center-align">
                        <div class="select-none">
                            <app-game-card></app-game-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
