<header class="flex gap-2 h-14.5">
    <div
        id="app-header"
        class="main-header h-fit flex-grow border-light-1 border-b z-10"
        translate="no"
    >
        <nav
            class="text-dark-3 flex flex-row relative justify-between h-auto bg-light-3 p-2"
        >
            <a
                aria-current="page"
                href="/admin"
                class="router-link-active router-link-exact-active logo hidden md:block"
                prefetch="false"
                aria-label="Quizizz"
                title="Quizizz"
                style="display: none"
                ><img
                    aria-hidden="true"
                    class="p-1 w-32 h-10 object-contain"
                    src="https://cf.quizizz.com/img/quizizz_logos/purple-brandmark-600x164.png"
                    alt="logo"
            /></a>
            <div class="flex flex-row items-center md:hidden md:pl-3">
                <div
                    class="flex items-center h-full text-xxs"
                    style="display: none"
                >
                    <span class="pr-1.5"
                        ><i class="fas fa-angle-left pr-1.5"></i></span
                    ><span class="font-semibold">Back</span>
                </div>
                <button type="button">
                    <div class="relative">
                        <!----><i
                            data-v-b2da2d2e=""
                            class="flex items-center fas fa-bars"
                            style="font-size: 16px"
                        ></i>
                    </div></button
                ><a
                    aria-current="page"
                    href="/admin"
                    class="router-link-active router-link-exact-active pl-2 md:hidden"
                    prefetch="false"
                    style="display: none"
                    ><img
                        class="object-contain w-20 h-full p-1 mr-auto"
                        src="https://cf.quizizz.com/img/quizizz_logos/purple-brandmark-600x164.png"
                        alt="logo"
                /></a>
            </div>
            <div
                class="flex flex-row space-x-2 flex-grow flex-grow pl-6 md:pl-0"
            >
                <div class="flex flex-grow ml-auto">
                    <div
                        data-v-3614265b=""
                        class="main-header-search-bar bg-light-1 border-light-1"
                    >
                        <div data-v-3614265b="" class="w-full">
                            <!---->
                            <div
                                data-v-8f3978bf=""
                                class="relative w-full border-radius-inherit flex-grow"
                            >
                                <!---->
                                <div
                                    data-v-8f3978bf=""
                                    class="relative border-radius-inherit"
                                >
                                    <div
                                        data-v-8f3978bf=""
                                        class="w-6 h-6 flex items-center justify-center absolute left-2 inset-0 my-auto text-dark-4"
                                    >
                                        <i
                                            data-v-b2da2d2e=""
                                            data-v-8f3978bf=""
                                            class="flex items-center fas fa-search mb-0.5 text-purple custom-placeholder-icon"
                                            style="font-size: 12px"
                                        ></i>
                                    </div>
                                    <input
                                        data-v-8f3978bf=""
                                        id="search-input"
                                        data-hj-allow=""
                                        data-testid="generic-input"
                                        aria-describedby="input-error-message"
                                        aria-invalid="false"
                                        aria-required="false"
                                        type="text"
                                        name=""
                                        class="focus:outline-none h-10 w-full py-2 text-sm placeholder-sm border-radius-inherit remove-number-selector custom-placeholder pl-9 rounded-tl-lg rounded-bl-lg bg-transparent text-dark-2 border-light-3 placeholder-dark-2 font-semibold pr-3 pr-2"
                                        placeholder="Search in Quizizz library "
                                        autocomplete="off"
                                        lang=""
                                        maxlength="256"
                                        tabindex="0"
                                    /><!----><!----><!----><!----><!---->
                                </div>
                                <div
                                    data-v-8f3978bf=""
                                    class="flex pt-1 text-xs font-semibold text-red"
                                    aria-live="assertive"
                                    style="display: none"
                                >
                                    <span
                                        data-v-8f3978bf=""
                                        class="w-4 h-4 flex items-center justify-center mr-0.5"
                                        ><i
                                            data-v-b2da2d2e=""
                                            data-v-8f3978bf=""
                                            class="flex items-center far fa-exclamation-circle"
                                            style="font-size: 11px"
                                        ></i></span
                                    ><span
                                        data-v-8f3978bf=""
                                        id="input-error-message"
                                        data-testid="input-error-message"
                                    ></span>
                                </div>
                                <!---->
                            </div>
                            <!---->
                        </div>
                        <div
                            data-v-3614265b=""
                            class="divider border-r my-2 border-dark-5"
                        ></div>
                        <button
                            data-v-3614265b=""
                            type="button"
                            class="hidden md:block"
                        >
                            <!----></button
                        ><!---->
                        <div data-v-3614265b="" class="selectbox-inner w-35">
                            <div class="select-box">
                                <div
                                    id="43"
                                    class="label font-semibold text-xs mb-1 ml-1 text-dark-4 sr-only"
                                >
                                    (with selected value)
                                    <!---->
                                </div>
                                <div class="select w-full inline-flex relative">
                                    <!----><button
                                        id="44"
                                        type="button"
                                        data-testid="generic-select-box"
                                        class="listbox-button flex items-center cursor-pointer box-border text-left rounded font-semibold text-sm text-dark-3 p-4 text-dark-2 pl-2 pr-1 py-2 h-10 w-full"
                                        aria-haspopup="listbox"
                                        aria-labelledby="43 44"
                                        aria-expanded="false"
                                    >
                                        <!----><!---->
                                        <div
                                            class="title w-full truncate text-sm"
                                            data-cy="select-box-value:"
                                            aria-live="assertive"
                                        >
                                            <!---->
                                            Quizizz library
                                        </div>
                                        <div
                                            class="ml-auto flex items-center justify-center w-6 h-6"
                                            aria-hidden="true"
                                        >
                                            <i
                                                data-v-b2da2d2e=""
                                                class="flex items-center fas fa-caret-down text-dark-3"
                                                aria-hidden="true"
                                            ></i>
                                        </div>
                                    </button>
                                    <ul
                                        class="listbox overflow-y-auto z-30 list bg-light-3 shadow-soft-high w-full transform rounded transition-transform mt-10 max-h-50 scale-y-0 origin-top"
                                        aria-labelledby="43"
                                        role="listbox"
                                        activedescendant="45"
                                        style="position: absolute; top: 2px"
                                    >
                                        <!---->
                                        <li
                                            id="45"
                                            data-cy=":quizizz-library"
                                            data-testid="generic-select-box-option-0"
                                            class="option hover:bg-dark-5% cursor-pointer p-2 flex border-2 border-b-2 border-lilac bg-lilac-faded text-lilac border-lilac-faded"
                                            role="option"
                                            aria-selected="true"
                                        >
                                            <!----><!---->
                                            <div class="text-lilac">
                                                <div
                                                    class="item-title font-semibold text-sm"
                                                >
                                                    Quizizz library
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                            <!----><!----><!---->
                                        </li>
                                        <li
                                            id="46"
                                            data-cy=":my-library"
                                            data-testid="generic-select-box-option-1"
                                            class="option hover:bg-dark-5% cursor-pointer p-2 flex border-2 border-transparent border-b-dark-5%"
                                            role="option"
                                            aria-selected="false"
                                        >
                                            <!----><!---->
                                            <div class="text-dark-2">
                                                <div
                                                    class="item-title font-semibold text-sm"
                                                >
                                                    My library
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                            <!----><!----><!---->
                                        </li>
                                        <li
                                            id="47"
                                            data-cy=":reports"
                                            data-testid="generic-select-box-option-2"
                                            class="option hover:bg-dark-5% cursor-pointer p-2 flex border-2 border-transparent"
                                            role="option"
                                            aria-selected="false"
                                        >
                                            <!----><!---->
                                            <div class="text-dark-2">
                                                <div
                                                    class="item-title font-semibold text-sm"
                                                >
                                                    Reports
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                            <!----><!----><!---->
                                        </li>
                                    </ul>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="flex space-x-2 flex-row pl-0 md:pl-2 h-10">
                    <div class="xs:hidden" style="display: none">
                        <!---->
                    </div>
                    <button
                        data-v-1c8df6a0=""
                        class="transition-colors duration-200 ease-in-out flex flex items-center justify-center w-8 h-8 bg-dark-5% active:bg-dark-10% text-dark-2 hover:text-dark-3 rounded-full other relative min-w-max mt-auto mb-auto md:hidden mt-auto mb-auto md:hidden"
                        aria-label="search"
                        type="button"
                        translate="no"
                        data-testid="generic-button"
                        iconsize="sm"
                        style="display: none"
                    >
                        <i
                            data-v-b2da2d2e=""
                            data-v-1c8df6a0=""
                            class="flex items-center far fa-search"
                            style="font-size: 12px"
                        ></i
                        ><!----><span
                            data-v-1c8df6a0=""
                            class="title"
                            title=""
                        ></span
                        ><!----><!----><!----><!----><!----><!----></button
                    ><button
                        class="transition-colors duration-200 ease-in-out flex items-center justify-center px-4 py-1 text-sm font-semibold h-full base bg-lilac-faded text-lilac hover:text-lilac-light active:text-lilac-dark rounded secondary relative min-w-max"
                        aria-label="Enter code"
                        type="button"
                        translate="no"
                    >
                        <!----><!----><span
                            data-v-1c8df6a0=""
                            class="title"
                            title="Enter code"
                            >Enter code</span
                        ><!----><!----><!----><!----><!----><!---->
                    </button>
                    <div>
                        <div class="relative hidden md:block">
                            <!----><button
                                data-v-1c8df6a0=""
                                class="transition-colors duration-200 ease-in-out flex flex items-center justify-center w-10 h-10 bg-dark-5% active:bg-dark-10% text-dark-2 hover:text-dark-3 rounded-full other relative min-w-max"
                                aria-label="notification"
                                type="button"
                                translate="no"
                                data-testid="generic-button"
                                iconsize="lg"
                            >
                                <i
                                    data-v-b2da2d2e=""
                                    data-v-1c8df6a0=""
                                    class="flex items-center far fa-bell"
                                    style="font-size: 16px"
                                ></i
                                ><!----><span
                                    data-v-1c8df6a0=""
                                    class="title"
                                    title=""
                                ></span
                                ><!----><!----><!----><!----><!----><!---->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="absolute"><!----></div>
    <!---->
</header>
