<div class="games">
    <div class="game landing">
        <div class="game-card-container">
            <div>
                <div
                    class="curved-edge-container media-dimensions media-wrapper"
                >
                    <div
                        class="curve"
                        style="
                            width: 400%;
                            padding-top: 400%;
                            transform: translateX(-37.5%) translateY(-100%);
                            top: 100%;
                        "
                    >
                        <div
                            class="content-container"
                            style="width: calc(25.02%); left: calc(37.49%)"
                        >
                            <div
                                class="media-dimensions media"
                                role="img"
                                aria-label="Quiz thumbnail"
                                style="
                                    background-image: url('https://quizizz.com/media/resource/gs/quizizz-media/quizzes/fdf19b1b-7d86-485d-859d-a13390a9197f?w=200&amp;h=200');
                                "
                            ></div>
                        </div>
                    </div>
                </div>
                <div class="quiz-info">
                    <div class="questions-length">12 Qs</div>
                </div>
                <p
                    class="quiz-name"
                    style="
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                    "
                >
                    Đúng hay sai
                </p>
                <div class="game-details"></div>
                <div class="accuracy-bar poor">
                    <span class="accuracy-bar-text">25% accuracy</span>
                </div>
            </div>
        </div>
    </div>
</div>
